<div class="container-fluid min-vh-100 d-flex flex-column bg-light p-0">
  <app-header 
    [sidebarVisible]="sidebarVisible" 
    (sidebarToggle)="toggleSidebar()">
  </app-header>
  <div class="row flex-grow-1 g-0" style="margin-top:60px;">
    <div class="col-auto d-none d-md-block p-0">
      <app-sidebar class="h-100" *ngIf="sidebarVisible"></app-sidebar>
    </div>
    <div class="col p-0">
      <div class="main-content flex-grow-1 p-4">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  <app-notifications></app-notifications>
</div>